[Unit]
Description=ConnectBox First Boot Partition Expansion
After=local-fs.target
ConditionPathExists=!/usr/local/connectbox/expand_progress.txt

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/local/connectbox/bin/first-boot-expand.py
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
